<div class="container">
  <h1>Log in as admin?</h1>
    <div class="checkbox">
        <%= form_tag(session_setadmin_path) do %>
            <div class="box-option">
              <%= check_box_tag(:yes) %>
              <%= label_tag(:yes, "Yes") %>
            </div>
            <div class="box-option">
              <%= check_box_tag(:no) %>
              <%= label_tag(:no, "No") %>
            </div>
          <div>
            <input type="submit" value="Submit">
          </div>
        <% end %>
      </div>  
</div>