<%= form_for @movie, :html => { :multipart => true } do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <div>
    <div>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>
    <div>
      <%= f.label :release_date %>
      <%= f.date_field :release_date %>
    </div>
    <div>
      <%= f.label :director%>
      <%= f.text_field :director%>
    </div>
    <div>
      <%= f.label :runtime_in_minutes %>
      <%= f.number_field :runtime_in_minutes %>
    </div>
    <div>
      <%= f.file_field :poster_image %>
    </div>
    <div>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Ship it!" %>
  </div>
</div>
<% end %>