<!DOCTYPE html>
<html>
<head>
  <title>Rotten Mangos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'app/assets/stylesheets/css/skeleton.css' %>
  <%= stylesheet_link_tag 'app/assets/stylesheets/css/normalize.css' %>
  <%= stylesheet_link_tag 'app/assets/stylesheets/css/custom.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>

  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
